/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
} */

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Board styles */
.wordle-board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 350px;
  height: 420px;
}

.wordle-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.cell {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  border: 2px solid #d3d6da;
}

.cell-green {
  background-color: #6aaa64;
  border-color: #6aaa64;
  color: #fff;
}

.cell-yellow {
  background-color: #c9b458;
  border-color: #c9b458;
  color: #fff;
}

.cell-grey {
  background-color: #787c7e;
  border-color:#787c7e;
  color: #fff;
}

/* Keyboard styles */
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.key {
  font-family: "nyt-franklin";
  background-color: #d3d6da;
  padding: 5px 4px;
  margin: 3px 4px;
  height: 58px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
}

@media (max-width: 480px) {
  .key {
    padding: 1px 1px;
    margin: 2px 2px;
    height: 58px;
  }
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.flash-red .cell {
  transition: background-color 0.5s;
  animation: shake 0.5s linear;
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(-180deg);
  }
  50% {
    transform: perspective(400px) rotateY(-90deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
  }
}

.flip-animation {
  animation: flip 0.5s linear;
  animation-fill-mode: both;
}


